@font-face {
  font-family: "ExpletusSans";
  src: url(../fonts/ExpletusSans-Regular.ttf);
}

@font-face {
  font-family: "MuktaVaani";
  src: url(../fonts/MuktaVaani-Regular.ttf);
}
@font-face {
  font-family: "RopaSans";
  src: url(../fonts/RopaSans-Regular.ttf);
}
